.g-pa-15 {
    padding: 1.07143rem !important;
}
.g-min-height-100vh {
    min-height: 100vh;
}
.g-flex-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.g-pb-15 {
    padding-bottom: 1.07143rem !important;
}

.g-flex-centered-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.g-color-gray-light-v4 {
    color: #eee !important;
}

.g-line-height-1 {
    line-height: 1 !important;
}
@media (min-width: 576px){

	.g-font-size-240--sm {
	    font-size: 17.14286rem !important;
	}
}

.g-font-size-180 {
    font-size: 22.85714rem !important;
}

.g-absolute-centered {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
}

@media (min-width: 0){
	.g-mt-minus-8 {
    margin-top: -0.57143rem !important;
	}
}

.g-color-black {

}

.mb-0 {
    margin-bottom: 0!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, .h7, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

@media (min-width: 0)
{
	.g-my-15 {
	    margin-top: 1.07143rem !important;
	    margin-bottom: 1.07143rem !important;
	}
}
.g-brd-gray-light-v3 {
    border-color: #ddd !important;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.g-font-size-18 {
    font-size: 1.58571rem !important;
}

h3{font-size: 20px}

h1{font-size: 60px}

a>i{margin-right: 5px}