<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Aplicación</title>
  <link rel="shortcut icon" href="{{constants['STATICS_URL']}}favicon.ico" type="image/x-icon">
  {% block css %}{% endblock %}
  {% block js_top %}{% endblock %}
</head>
<body>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ constants['CSRF'] }}">
    <!-- Inicio Modal -->
    <button type="button" class="btn btn-primary btn-lg oculto" data-toggle="modal" data-target="#modal-container"  id="btnModal" >Launch demo modal</button>
    <div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"></div>
    <!-- Fin Modal -->
    <div id="app"></div>
    <script id="template" type="text/x-handlebars-template">
        {% raw %}{{> header}}{% endraw %}
        {% raw %}{{> breadcrumb}}{% endraw %}
        {% raw %}{{> contenido}}{% endraw %}
        {% raw %}{{> footer}}{% endraw %}
    </script>
    <script id="header-template" type="text/x-handlebars-template">
      <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><i class="fa fa-wpexplorer icono-brand" aria-hidden="true"></i>Quinua Smart</a>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% raw %}{{{menuModulos}}}{% endraw %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% raw %}{{BASE_URL}}{% endraw %}login/ver">Pepe Valdivia</a></li>
          <li><a href="{% raw %}{{BASE_URL}}{% endraw %}login/cerrar">Salir</a></li>
        </ul>
      </div>
    </nav>
    <!-- Fin Header -->  
    </script>
    <script id="breadcrumb-template" type="text/x-handlebars-template"></script>
    <script id="contenido-template" type="text/x-handlebars-template">
      <div class="container content">
        <div class="col-md-3" id="menu-side">
          {% raw %}{{{menuSubModulos}}}{% endraw %}
        </div>
        <div class="col-md-9" id="workspace">
          <!-- Inicio Yield-->
          {% raw %}{{> yield}}{% endraw %}
          <!-- Fin Yield-->
        </div>
      </div>
    </script>
    <script id="footer-template" type="text/x-handlebars-template">
      <footer class="nb-footer">
        <section class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-sm-6" style="color: #fdfdfd;">
                <p>Copyright © 2017. Your Company.</p>
              </div>
              <div class="col-sm-6"></div>
            </div>
          </div>
        </section>
      </footer>
    </script>
    <script id="yield" type="text/x-handlebars-template">
        {% block content %}{% endblock %}
    </script>
    {% block js_bottom %}{% endblock %}
</body>
</html>