{% extends 'layouts/blank.html' %}
{% block css %}
	<link href="{{constants['STATICS_URL']}}dist/error.min.css" rel="stylesheet" type="text/css"/>
	<style type="text/css"></style>
{% endblock %}
{% block js_top %}
  <script type="text/javascript">
    var BASE_URL = '{{constants["BASE_URL"]}}';
    var STATICS_URL  = '{{constants["STATICS_URL"]}}';
   	var DATA = JSON.parse('{}'); 
  </script>
{% endblock %}
{% block js_bottom %}
	<script type="text/javascript" src="{{constants['STATICS_URL']}}dist/error.min.js"></script>
{% endblock %}
{% block content %}
<main class="g-min-height-100vh g-flex-centered g-pa-15">
  <div class="text-center g-flex-centered-item g-position-rel g-pb-15">
    <div class="g-font-size-180 g-font-size-240--sm g-line-height-1 g-font-weight-600er g-color-gray-light-v4"><i class="{{data['icono']}}" aria-hidden="true"></i></div>
    <div class="g-absolute-centered">
      <h1 class="g-color-black g-mt-minus-8 mb-0">{{data['numero']}}</h1>
      <h3 class="g-color-black g-mt-minus-8 mb-0">{{data['mensaje']}}</h3>
      <hr class="g-brd-gray-light-v3 g-my-15">
      <p class="g-font-size-18 mb-0"><a href="{{constants['BASE_URL']}}" class="g-color-black g-color-primary--hover g-text-no-underline--hover"> <i class="fa fa-home"></i>Ir al Inicio</a></p>
    </div>
  </div>
</main>
{% endblock %}